'.text.html.vue':
  'vue caffold':
    'prefix': 'v-scaffold'
    'body': """
      <template>
        <div>
          
        </div>
      </template>

      <script>
      export default {
        components: {},
        props: {},
        data() { 
          return {
            
          }
        },
        computed: {},
        methods: {},
        created() {},
        mounted() {},
      }
      </script>

      <style lang='scss' scoped>

      </style>
      
    """
  'vue Template Tag':
    'prefix': 'v-template',
    'body': """
      <template${1: lang="$2"}>
        $3
      </template>
    """
  'template with html':
    'prefix': 'v-template-html'
    'body': """
      <template>
        $1
      </template>
    """
  'template with pug':
    'prefix': 'v-template-pug'
    'body': """
      <template lang="pug">
        $1
      </template>
    """
  'script with javascript':
    'prefix': 'v-script-js'
    'body': """
      <script>
      export default {
        $1
      }
      </script>
    """
  'script with typescript':
    'prefix': 'v-script-ts'
    'body': """
      <script lang="ts">
      export default {
        $1
      }
      </script>
    """
  'style with css':
    'prefix': 'v-style-css'
    'body': """
      <style>
      $1
      </style>
    """
  'style with css (scoped)':
    'prefix': 'v-style-css-scoped'
    'body': """
      <style scoped>
      $1
      </style>
    """
  'style with less':
    'prefix': 'v-style-less'
    'body': """
      <style lang="less">
      $1
      </style>
    """
  'style with less (scoped)':
    'prefix': 'v-style-less-scoped'
    'body': """
      <style lang="less" scoped>
      $1
      </style>
    """
  'style with scss':
    'prefix': 'v-style-scss'
    'body': """
      <style lang="scss">
      $1
      </style>
    """
  'style with scss (scoped)':
    'prefix': 'v-style-scss-scoped'
    'body': """
      <style lang="scss" scoped>
      $1
      </style>
    """
  'vuejs data':
    'prefix': 'v-data'
    'body': """
    data() {
      return {
        
      }
    },
    """
    'description': '组件的定义只接受 function'
    'descriptionMoreURL': 'http://t.cn/Ewbyihv'