'.text.html.vue':
  'Vue Scaffold':
    'prefix': 'scaffold'
    'body': """
      <template>

      </template>

      <script>
      export default {

      }
      </script>

      <style>

      </style>
    """
  'Vue Template Tag':
    'prefix': 'vtemplate',
    'body': """
      <template${1: lang="$2"}>
        $3
      </template>
    """
  'template with html':
    'prefix': 'template with html'
    'body': """
      <template>
        $1
      </template>
    """
  'template with pug':
    'prefix': ''
    'body': """
      <template lang="pug">
        $1
      </template>
    """
  'script with javascript':
    'prefix': 'script with Javascript'
    'body': """
      <script>
      export default {
        $1
      }
      </script>
    """
  'script with Yypescript':
    'prefix': ''
    'body': """
      <script lang="ts">
      export default {
        $1
      }
      </script>
    """
  'Vue Script Tag':
    'prefix': 'vscript',
    'body': """
      <script${1: lang="$2"}>
        export default {
          // Options / Data
          // data () { return {} },
          // props: [],
          // propsData: {},
          // computed: {},
          // methods: {},
          // watch: {},
          // Options / DOM
          // el () {},
          // template: '',
          // render () {},
          // Options / Lifecycle Hooks
          // beforeCreate () {},
          // created () {},
          // beforeMount () {},
          // mounted () {},
          // beforeUpdate () {},
          // updated () {},
          // activated () {},
          // deactivated () {},
          // beforeDestroy () {},
          // destroyed () {},
          // Options / Assets
          // directives: {},
          // filters: {},
          // components: {},
          // Options / Misc
          // parent: null,
          // mixins: [],
          // name: '',
          // extends: {},
          // delimiters: [ '{{', '}}' ],
          // functional: false
        }
      </script>
    """
  'style with css':
    'prefix': 'style'
    'body': """
      <style>
      $1
      </style>
    """
  'style with css (scoped)':
    'prefix': 'style with css (scoped)'
    'body': """
      <style scoped>
      $1
      </style>
    """
  'style with less':
    'prefix': 'style with less'
    'body': """
      <style lang="less">
      $1
      </style>
    """
  'style with less (scoped)':
    'prefix': 'style with less (scoped)'
    'body': """
      <style lang="less" scoped>
      $1
      </style>
    """
  'style with scss':
    'prefix': 'style with scss'
    'body': """
      <style lang="scss">
      $1
      </style>
    """
  'style with scss (scoped)':
    'prefix': 'style with scss (scoped)'
    'body': """
      <style lang="scss" scoped>
      $1
      </style>
    """
  'Vue Style Tag':
    'prefix': 'vstyle',
    'body': """
    <style${1: lang="$2"}${3: scoped}>$0</style>
    """
